$bp-xxlg: 2560px;
$bp-xlg: 1920px;
$bp-lg: 1440px;
$bp-md: 1024px;
$bp-sm: 768px;
$bp-xs: 480px;

$off-white-background: #f2f1f1;
$green-primary: rgb(66, 171, 158);
$dark-green-accent: #6f7e7c;
$light-green-accent: #c8e9e5;
$red-primary: rgb(255, 88, 81);
$grey-accent: #4C4F54;
$blue-grey-accent: rgba(156,175,183,1);
$blue-grey-text: #3b4346;
$purple-button: rgba(79,93,117,1);
$twitter-blue: #54AEE9;
$red-errors: #c7254e;
$grey-errors: #d9d9d9;

$red-gradient: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);

@mixin mq($width, $type) {
  @media only screen and (#{$type}-width: $width) {
    @content;
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

body, html {
    background: $off-white-background;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica;
}

*, *::before, *::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

#navigation, #navTrending {
    width: 100%;
    height: 49px;
    position: absolute;
    top: 0;
    display: flex;
    background: $off-white-background;
    align-items: center;
    color: $blue-grey-text;
    z-index: 100;
    font-weight: 800;
    text-transform: uppercase;
    .menuLeft {
        float: left;
        width: 33%;
        height: 100%;
        line-height: 50px;
        ul {
            list-style: none;
            text-align: left;
            margin: 0;
            padding-left: 22px;
        }
        li {
            display: inline-block;
            font-size: 12px;
            margin-left: 5px;
            letter-spacing: 3px;
        }
    }
    .brandCenter {
        width: 33%;
        height: 100%;
        line-height: 50px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        font-size: 25px;
        font-weight: 800;
        cursor: pointer;
    }
    .menuRight {
        position: absolute;
        right: 0;
        width: 33%;
        height: 100%;
        line-height: 50px;
        text-align: right;
        .login {
            border-left: 1px dashed $blue-grey-text;
            text-align: center;
            height: 100%;
            width: 100px;
            font-size: 13px;
            position: absolute;
            right: 0;
            cursor: pointer;
            font-weight: 800;
        }
    }
}

#dashboard {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $green-primary;
    color: $off-white-background;
    height: 600px;
    width: 100%;
    .titleFlex {
        width: 100%;
    }
    h1 {
        font-family: 'Raleway';
        font-size: 90px;
        font-weight: 900;
        padding-top: 50px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0;
        text-transform: uppercase;
        letter-spacing: 0;
        color: $off-white-background;
    }
    h2 {
        margin-bottom: 45px;
        margin-top: 21px;
        font-size: 27px;
        letter-spacing: 3px;
        color: #c8e9e5;
    }
    button {
        font-size: 19px;
        font-weight: bold;
        background: $red-gradient;
        border-radius: '3px';
        border: 0;
        color: white;
        height: 52px;
        text-transform: uppercase;
        padding: 0 68px;
        box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .30);
    }
    .disclaimer {
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        h4 {
            font-size: 15px;
        }
        a {
            color: $light-green-accent;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#examplePoll {
    width: 100%;
    height: auto;
    position: relative;
    .pollBlueBackground {
        width: 100%;
        height: 380px;
        background-color: $purple-button;
    }
    .pollGreyBackground {
        width: 100%;
        height: 290px;
        background-color: $blue-grey-accent;
    }
    .pollCard {
        position: absolute;
        width: 90%;
        height: 89%;
        left: 0;
        right: 0;
        bottom:0;
        margin: 0 auto;
        background: $off-white-background;
        z-index: 100;
        display: flex;
        box-shadow: 0 5px 25px rgba(0,0,0,0.6);
        .pollCardLeft {
            width: 50%;
            height: 100%;
            text-align: center;
            h2 {
                font-size: 42px;
                font-weight: 700;
                text-align: left;
                width: 75%;
                margin: 0 auto;
                padding-top: 50px;
                padding-bottom: 20px;
                padding-left: 10px;
                letter-spacing: 3px;
                color: $grey-accent;
                text-transform: uppercase;
            }
            .pollColor {
                width: 75%;
                padding: 15px;
                border: 1px solid $grey-accent;
                margin: 5px auto;
                text-align: left;
                font-weight: 800;
                background: #e9e7e7;
                color: $grey-accent;
                cursor: pointer;
                &:hover {
                    border-left: 10px solid $green-primary;
                }
                &:active {
                    border-left: 10px solid $green-primary;
                }
                &:focus {
                    border-left: 10px solid $green-primary;
                }
            }
            .submit {
                width: 75%;
                height: 50px;
                margin: 20px auto 0 auto;
                border: 1px solid grey;
                background: $purple-button;
                color: white;
                font-weight: bold;
                &:hover {
                    opacity: .9;
                }

            }
            .share {
                width: 75%;
                height: 50px;
                margin: 3px auto 0 auto;
                border: 1px solid grey;
                background: $twitter-blue;
                color: white;
                font-weight: bold;
                &:hover {
                    opacity: .9;
                }
            }
        }
        .graphRight {
            position: relative;
            width: 35%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            canvas {
                position: absolute;
                top: 12%;
            }
            .legend {
                position: absolute;
                bottom: 1%;
                width: 100%;
                height: 40px;
                ul {
                    list-style: none;
                    margin: 0 auto;
                    padding: 0;
                    width: 375px;
                }
                li {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: bold;
                    height: 30px;
                    width: 60px;
                    margin: 7px;
                    background: grey;
                    text-align: center;
                    color: white;
                    line-height: 30px;
                    &:first-child {
                        background: #ffd300;
                    }
                    &:nth-child(2) {
                        background: #754373;
                    }
                     &:nth-child(3) {
                        background: #d03b3d;
                    }
                     &:nth-child(4) {
                        background: #16a085;
                    }
                    &:last-child {
                        background: #2980b9;
                    }
                }
            }
        }
    }
}

#note {
    width: 500px;
    height: 500px;
    background: grey;
    color: white;
}

