#navPollDetails {
    position: absolute;
    background: $green-primary;
    color: white;
    z-index: 100;
    .login {
        border-left: 1px dashed $off-white-background !important;
    }
}

#pollDetailsWrap {
    background: $purple-button;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pollDetailsCard {
        width: 93%;
        height: 85%;
        background: $off-white-background;
        margin-top: 50px;
        display: flex;
        position: relative;
        #likeButton {
            width: 40px;
            height: 40px;
            position: absolute;
            z-index: 100;
            right: 40px;
            top: 10px;
            border: 1px solid #156ea8;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #156ea8;
        }
        .likeCount {
            position: absolute;
            right: 20px;
            top: 14px;
            color: #333;
        }
        .pollInfo {
            width: 50%;
            height: 100%;
            text-align: center;
            h2 {
                font-size: 43px;
                font-weight: 900;
                text-align: left;
                width: 90%;
                margin: 0 auto;
                padding-top: 80px;
                padding-bottom: 30px;
                padding-left: 60px;
                letter-spacing: 3px;
                color: $grey-accent;
                text-transform: uppercase;
            }
            .pollAnswer {
                position: relative;
                width: 75%;
                height: 55px;
                border: 1px solid $grey-accent;
                margin: 5px auto;
                text-align: left;
                font-weight: 800;
                background: #e9e7e7;
                color: $grey-accent;
                cursor: pointer;
                display: flex;
                align-items: center;
                &:hover {
                    border-left: 10px solid $green-primary !important;
                }
                input {
                    margin-top: 0;
                    height: 100%;
                }
                .pollLabel {
                    position: relative;
                    width: 90%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    label {
                        width: 100%;
                        height: 100%;
                        margin-bottom: 0;
                        cursor: pointer;
                        line-height: 54px;
                        padding-left: 5px;
                    }
                }
            }
            .submit {
                width: 75%;
                height: 50px;
                margin: 20px auto 0 auto;
                border: 1px solid grey;
                background: $purple-button;
                color: white;
                font-weight: bold;
                &:hover {
                    opacity: .9;
                }

            }
            .share {
                width: 75%;
                height: 50px;
                margin: 3px auto 0 auto;
                border: 1px solid grey;
                background: $twitter-blue;
                color: white;
                font-weight: bold;
                &:hover {
                    opacity: .9;
                }
            }
        }
        .pollGraph {
            width: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 50px;
            canvas {
                position: absolute;
                bottom: 5%;
                margin: 0 auto;
            }
        }
    }
}