#navTrending {
    position: relative;
    background: $green-primary;
    color: white;
    .login {
        border-left: 1px dashed $off-white-background !important;
    }
}

#pollWrap, #pollWrapFull {
    width: 100%;
    height: auto;
    padding: 55px 45px 0 45px;
    background: $purple-button;
    .pollCard {
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: $off-white-background;
        .trendingTitle {
            width: 100%;
            height: auto;
            h1 {
                font-size: 47px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 40px 0 10px 0;
                text-align: center;
                color: $grey-primary;
            }
            hr {
                width: 50%;
                margin: 0 auto;
                border-top: 1px solid $grey-primary;
                padding-bottom: 50px;
            }
        }
        .flexGrid {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            padding: 10px;
        }
        .flexPolls {
            width: 33.33%;
            height: 300px;
            padding: 10px;
            @include mq($bp-md, max) {
                width: 100%;
            }
            .innerFlexPolls {
                background-color: $off-white-background;
                box-shadow: 0px 8px 15px rgba(0,0,0,0.3); 
                border: 1px solid #ccc;
                border-bottom: 0;
                width: 100%;
                height: 100%;
                position: relative;
                h2 {
                    text-align: center;
                    font-size: 26px;
                    font-weight: bold;
                    text-transform: uppercase;
                    color: #333;
                    margin-top: 0;
                    padding-bottom: 15px;
                    padding-top: 20px;
                    width: 83%;
                    margin: 0 auto;
                }
                p {
                    font-weight: bold;
                    font-size: 12px;
                    color: #333;
                    width: 65%;
                    margin: 0 auto;
                    padding-bottom: 10px;
                    padding-top: 5px;
                    border-bottom: 1px dashed #333;
                }
                h6 {
                    text-align: center;
                    border: 1px dashed #156ea8;
                    width: 65%;
                    margin: 5px auto;
                    padding: 5px;
                    color: #156ea8;
                }
                button {
                    position: absolute;
                    font-size: 14px;
                    font-weight: bold;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 45px;
                    background: $purple-button;
                    border: 0;
                    color: white;
                }
            }
        }
    }
}

#pollWrapFull {
    height: 100%;
}