extends layout.pug

block content
    section(id="navigation")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home /
                    a(href="/trending")
                        li Trending /
                    a(href="/recent")
                        li Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")
                a(href="/users/login") 
                    div(class="login") Login


    section(id="dashboard")
        div(class="titleFlex")
            h1 Create | Vote | Share
            h2 Sign up to create and vote on custom polls
            a(href="/users/register")
                button Sign Up
        div(class="disclaimer")
            h4 Created by Zach Mitchell | View on Github


    section(id="examplePoll")
        div(class="pollBlueBackground")
        div(class="pollGreyBackground")
        div(class="pollCard")
            div(class="pollCardLeft")
                h2 What is your favorite color?
                div(class="pollColor") Blue
                div(class="pollColor") Red
                div(class="pollColor") Green
                div(class="pollColor") Orange
                div(class="pollColor") Yellow
                button(class="submit") Submit
                button(class="share") Share on Twitter
            div(class="graphRight")
                div(class="graphBar" id="barOne")
                    div(class="innerGraphBar")
                div(class="graphBar" id="barTwo")
                    div(class="innerGraphBar")
                div(class="graphBar" id="barThree")
                    div(class="innerGraphBar")
                div(class="graphBar" id="barFour")
                    div(class="innerGraphBar")
                div(class="graphBar" id="barFive")
                    div(class="innerGraphBar")