extends layout.pug

block content
    section(id="navigation")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home
                    a(href="/trending")
                        li Trending
                    a(href="/recent")
                        li Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")
                a(href="/login") 
                    div(class="login") Login


    section(id="dashboard")
        div(class="titleFlex")
            h2 What would you like to do today?
            h1 You've come to the right place!
            button Sign Up
        div(class="disclaimer")
            h4 Created by Zach Mitchell | View on Github


    section(id="examplePoll")
        div(class="pollBlueBackground")
        div(class="pollGreyBackground")
        div(class="pollCard")
            div(class="votePollLeft")
                h2 What is your favorite color?
                input
                button(class="submit") Submit
                button(class="share") Share on Twitter
            div(class="graphRight")