extends layout-sub.pug

block links
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")

block content
    section(id="login")
        div(class="loginCard")
            div(class="cardOverlay")
            h1(class="loginTitle") Welcome
            hr

            form(method="post" class="loginForm")
                div(class="form-group")
                    label Username
                    input(type="text" class="from-control loginUser" name="username" \
                    placeholder="Username")
                div(class="form-group")
                    label Password
                    input(type="password" class="form-control loginPW" name="password" \
                    placeholder="Password")
                button(type="submit") Login
                button(class="twitter") Connect with Twitter
                p Not registered? 
                    a(href="/users/register") Sign up here.

block scripts
    script(src="../dist/jsmin/bundle.min.js")