extends layout-sub.pug

block links
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")
    
block content
    section(id="navPollDetails")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home &nbsp /
                    a(href="/polls/trending")
                        li &nbsp Trending &nbsp /
                    a(href="/polls/recent")
                        li &nbsp Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")

                if !user
                    a(href="/users/login") 
                        div(class="login") Login
                else
                    a(href="/users/logout") 
                        div(class="login") Logout

    section(id="pollDetailsWrap")
        div(class="pollDetailsCard")
            div(id="likeButton")
                h4 +1
            h5(class="likeCount") #{poll.likeCount}
            div(class="pollInfo")

                if (poll)
                    h2 #{poll.pollTitle}
                    
                form(method="post" action="/polls/" + poll.pollid)
                    fieldset
                        div(id="pollGroup")

                            -for (var i = 0; i < pollAnswers.length; i++)
                                div(class="pollAnswer")
                                    input(class="pollCheck" type="radio" name="radioChoice"  id="radio-choice-" + i  value=pollAnswers[i] required)
                                    div(class="pollLabel")
                                        label(for="radio-choice-" + i) #{pollAnswers[i]}

                    button(class="submit") Submit
                    button(class="share") Share on Twitter

            div(class="pollGraph")
                canvas(id="myChart" width="520" height="520")
                
    script.
        window.onload = function() {
            getPollAnswers();
            userLikedPoll();
        }