extends layout-sub.pug

block links
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")

block content
    section(id="navProfile")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home &nbsp /
                    a(href="/polls/trending")
                        li &nbsp Trending &nbsp /
                    a(href="/polls/recent")
                        li &nbsp Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")

                if !user
                    a(href="/users/login") 
                        div(class="login") Login
                else
                    a(href="/users/logout") 
                        div(class="login") Logout

    section(id="profileWrap" style=(userPolls.length >= 6 ? "height:auto;" : "height:100%;"))
        div(class="profileCard" style=(userPolls.length >= 6 ? "height:auto;" : "height:85%;"))
            h1 Hello #{username}!
            h2 View your polls below or create a new one
            hr
            
            div(class="profilePolls")
                div(class="flexGrid")

                    if userPolls
                        each item in userPolls.reverse()
                            div(class="flexPolls")
                                div(class="innerFlexPolls")
                                    h2 #{item.pollTitle}
                                    p #{item.pollAnswers}
                                    a(href="/polls/" + item.pollid)
                                        button Details

                    else
                        p You dont have any polls!