extends layout-sub.pug

block links
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")

block content
    section(id="login")
        div(class="loginCard")
            div(class="cardOverlay")
            h1(class="registerTitle") Welcome
            hr
            
            form(method="post" action="/users/register" class="registerForm")
                div(class="form-group")
                    label Email
                    input(type="email" class="from-control loginUser" \
                    placeholder="Email" name="email")
                div(class="form-group")
                    label Username
                    input(type="text" class="from-control loginUser" \
                    placeholder="Username" name="username")
                div(class="form-group")
                    label Password
                    input(type="password" class="from-control loginUser" \
                    placeholder="Password" name="password")
                div(class="form-group")
                    label Confirm Password
                    input(type="password" class="form-control loginPW" \
                    placeholder="Confirm Password" name="password2")
                button(type="submit") Sign Up
                button(class="twitter") Connect with Twitter

block scripts
    script(src="../dist/jsmin/bundle.min.js")