extends layout.pug

block content
    section(id="navTrending")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home
                    a(href="/trending")
                        li Trending
                    a(href="/recent")
                        li Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")
                a(href="/login") 
                    div(class="login") Login


    section(id="pollWrap")
        div(class="flexGrid")
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
