extends layout-sub.pug

block links
    -var trendRecent = 'Trending' 
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")
    
block content
    section(id="navTrending")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home &nbsp /
                    a(href="/polls/trending")
                        li &nbsp Trending &nbsp /
                    a(href="/polls/recent")
                        li &nbsp Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")

                if !user
                    a(href="/users/login") 
                        div(class="login") Login
                else
                    a(href="/users/logout") 
                        div(class="login") Logout


    section(id=(polls.length > 3 ? 'pollWrap' : 'pollWrapFull'))
        div(class="pollCard")
            div(class="trendingTitle")
                h1 #{trendRecent} Polls
                hr
            div(class="flexGrid")                

                if polls
                        each item in polls
                            div(class="flexPolls")
                                div(class="innerFlexPolls")
                                    -var testing = item.pollAnswers.split(',')
                                    -var sliced = testing.slice(0, 3)
                                    h2 #{item.pollTitle}
                                    
                                    each answer in sliced
                                        p #{answer}

                                    if testing.length > 3
                                        h6 More answers
                                    
                                    a(href="/polls/" + item.pollid)
                                        button Details
