extends layout-sub.pug

block links
    link(rel="stylesheet" href="../dist/cssmin/styles.min.css")
    
block content
    section(id="navTrending")
            nav(class="menuLeft")
                ul
                    a(href="/")
                        li Home &nbsp /
                    a(href="/polls/trending")
                        li &nbsp Trending &nbsp /
                    a(href="/polls/recent")
                        li &nbsp Recent
            div(class="brandCenter") VotePlex
            nav(class="menuRight")

                if !user
                    a(href="/users/login") 
                        div(class="login") Login
                else
                    a(href="/users/logout") 
                        div(class="login") Logout


    section(id="pollWrap")
        div(class="flexGrid")
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
            div(class="flexPolls")
                div(class="innerFlexPolls")
                    h2 What is your favorite color?
                    p Blue...
                    p Red...
                    button Details
